section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.red{
	background-color: red;
	color: white;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.red{
	background-color: red;
	color: white;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.green{
	background-color: green;
	color: white;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.green{
	background-color: green;
	color: white;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.orange{
	background-color: orange;
	color: white;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.orange{
	background-color: orange;
	color: white;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.black{
	background-color: black;
	color: white;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.black{
	background-color: black;
	color: white;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.blue{
	background-color: blue;
	color: white;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.blue{
	background-color: blue;
	color: white;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.purple{
	background-color: purple;
	color: white;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.purple{
	background-color: purple;
	color: white;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.yellow{
	background-color: yellow;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.yellow{
	background-color: yellow;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.grey{
	background-color: grey;
	color: white;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.grey{
	background-color: grey;
	color: white;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.aliceblue{
	background-color: aliceblue;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.aliceblue{
	background-color: aliceblue;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.aqua{
	background-color: aqua;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.aqua{
	background-color: aqua;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.bisque{
	background-color: bisque;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.bisque{
	background-color: bisque;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.brown{
	background-color: brown;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.brown{
	background-color: brown;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.coral{
	background-color: coral;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.coral{
	background-color: coral;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.crimson{
	background-color: crimson;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.crimson{
	background-color: crimson;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.darkblue{
	background-color: darkblue;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.darkblue{
	background-color: darkblue;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.darkcyan{
	background-color: darkcyan;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.darkcyan{
	background-color: darkcyan;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li.active a.darkgreen{
	background-color: darkgreen;
	color: black;
}
section.body .inner-wrapper section.content-body .row .col-md-6 .tabs ul.nav.nav-tabs li a.darkgreen{
	background-color: darkgreen;
	color: black;
}
